<!-- {{#if isEditing}} -->
  <!-- {{partial 'post/edit'}} -->
  <!-- <form>
  <div class="form-group">
    <label for="body">Question</label>
    {{input id="body" class="form-control" value=body}}
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    {{input id="description" class="form-control" value=description}}
  </div>
  <div class="form-group">
    <label for="name">Author</label>
    {{input id="name" class="form-control" value=name}}
  </div>
  <button class="btn btn-success" {{action 'save'}}>Edit</button>
</form>
{{else}}
  <button class="btn btn-primary" {{action 'edit'}}>Edit</button>
  <button class="btn btn-danger" {{action 'delete'}}>Delete</button>
{{/if}}


<h3>Name: {{model.name}}</h3>
<h3>Description: {{model.description}}</h3>

<hr>

<div class="body">
    {{model.body}}
</div> -->


{{#if isEditing}}
<form>
  <div class="form-group">
    <label for="body">Question</label>
    {{input id="body" class="form-control" value=body}}
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    {{input id="description" class="form-control" value=description}}
  </div>
  <div class="form-group">
    <label for="name">Author</label>
    {{input id="name" class="form-control" value=name}}
  </div>

  <button class="btn btn-primary" {{action 'save'}}>Save</button>
</form>

{{else}}
<h1>{{model.body}}</h1>
<h3>Description: {{model.description}}</h3>
<h2>Authored by: {{model.name}}</h2>

  <button class="btn btn-primary" {{action 'edit'}}>Edit</button>
  <button class="btn btn-danger" {{action 'delete'}}>Delete</button>

  {{/if}}

<h2>Answers</h2>

<!-- <ul>
  {{#each answer in model}}
    <li>{{#link-to 'questions.question.new-answer'}}{{new-answer.answer}}{{/link-to}}</li>
  {{/each}}
</ul> -->

  <!-- <p>
    {{#link-to 'questions.question.new-answer' this.id class="btn btn-primary"}}New Answer{{/link-to}}
  </p> -->

<div class="new-msg-link">{{#link-to 'questions.question.new-answer'}}Answer this question{{/link-to}}</div>


{{outlet}}
